<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Invoice</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<h1>Edit Invoice</h1>
<form th:action="@{/update/{id}(id=${id})}" th:object="${invoiceDTO}" method="post">
    <input type="hidden" id="id" th:value="${invoiceDTO.id}">
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" th:field="*{name}">
        <span class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
    </div>
    <div>
        <label for="date">Date:</label>
        <input type="text" id="date" th:field="*{date}" readonly>
    </div>
    <div>
        <label for="amount">Amount:</label>
        <input type="text" id="amount" th:field="*{amount}">
        <span class="text-danger" th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}"></span>
    </div>
    <a th:href="@{/}"><button type="button" class="btn btn-danger">Go back</button></a>
    <button type="submit">Update</button>
</form>
</body>
</html>