<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Hello, world!</title>
</head>
<body>
<h1>Invoices</h1>
<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Date</th>
        <th scope="col">Amount</th>
    </tr>
    </thead>
    <tbody>
        <tr th:each="invoice:${invoices}">
            <td th:text="${invoice.id}"></td>
            <td th:text="${invoice.name}"></td>
            <td th:text="${invoice.date}"></td>
            <td th:text="${invoice.amount}"></td>
            <td><a th:href="@{/edit/{id}(id=${invoice.id})}"><button type="button" class="btn btn-primary">Edit</button></a></td>
            <td><a th:href="@{/delete(id=${invoice.id})}"><button type="button" class="btn btn-danger">Delete</button></a></td>
        </tr>
    </tbody>
</table>

<h1>Add new invoice</h1>
<form th:action="@{/save}" method="post">
<!--    <div class="form-group">-->
<!--        <label for="id" class="form-label">ID</label>-->
<!--        <input type="text" class="form-control" name="id" id="id">-->
<!--    </div>-->
    <div class="form-group">
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control" name="name" id="name">
    </div>
    <div class="form-group">
        <label for="date" class="form-label">Date</label>
        <input type="text" class="form-control" name="date" id="date">
    </div>
    <div class="form-group">
        <label for="amount" class="form-label">Amount</label>
        <input type="text" class="form-control" name="amount" id="amount">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

</body>
</html>